canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/**
color themes #14
https://visme.co/blog/website-color-schemes/
*/
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

main {
  position: absolute;
  align-items: center;
  position: relative;
  color: var(--dark-color);
}

.page {
  width: 100%;
  height: 1000vh;
}
